body{
    background-image: url(download.png);
    background-repeat: repeat;
    text-align: center;
}

.center{
    text-align: center;
}




h1{
    color: rgb(32, 240, 50);
    padding: auto;
}


span{
    color: rgb(37, 20, 192);
}

#stopwatch{
    color: white;
}





#startBtn{
    color: rgb(70, 240, 70);
}


#stopBtn{
    color: red;
}

#resetBtn{
    color: rgb(16, 16, 243);
}




button:hover{
    background-color: rgb(15, 20, 15);
    border: 2px solid black;
    transition: 0.3s ease-out;
    cursor: pointer;
}